
<!-- Toolbar -->
<style>
  .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ 
}


@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" >
  
  <a class="navbar-brand" href="#"> <span class="navbar-brand mb-0 h1" style="color: white;">Prim Cafe</span></a>
</nav>


<!-- <ng-sidebar #sidebar>
  <button (click)="sidebar.close()">Close sidebar</button>
</ng-sidebar>

<button (click)="sidebar.open()">Open sidebar</button> -->


<div class="container-fluid" >
  <div class="row " >
    <nav class="col-md-2 d-none d-md-block bg-light sidebar flex-column" >

      <div class="sidebar-sticky" >
        <ul class="nav flex-column" >
          <li class="nav-item" >
            <a class="nav-link active" routerLink="showproduct" routerLinkActive="active"  class="list-group-item list-group-item-action">
              Product management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="showcode"  routerLinkActive="active"  class="list-group-item list-group-item-action">
              Code management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="addorder"  routerLinkActive="active" class="list-group-item list-group-item-action">
              
              Add Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showorder"  routerLinkActive="active" class="list-group-item list-group-item-action">
             
              Show Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showhistory"  routerLinkActive="active" class="list-group-item list-group-item-action">
              
              History
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>  -->
        </ul>

      </div>
    </nav>
    <main role="main" class="ml-sm-auto col-lg-10" >

      <router-outlet></router-outlet>
   
    </main>
  </div>
</div>


